<section class="w-full px-20">
  <div class="h-[500px]">
    <img
      src="../assets/images/Background.webp"
      alt=""
      class="main-image"
    />
    <div class="image-text">
      <p class="font-normal text-3xl mb-1">Looking For Job Offer ?</p>
      <p class="font-extralight text-sm">
        Discover tailored job offers for a fulfilling career, from startups to
        established corporations.
      </p>
    </div>
  </div>
  <div class="mt-10 grid grid-cols-3 gap-5">
    <div class="flex flex-col gap-5">
      <img src="../assets/images/Art.png" class="h-[250px]" />
      <div class="flex flex-col gap-1">
        <div class="flex items-center justify-start gap-2">
          <img class="rounded-full w-8 h-8" src="../assets/images/meeting.png">
          <p class="font-semibold text-2xl">inetum</p>
        </div>
        <p>Post: backend java developer</p>
        <p class="font-semibold text-sm">date: 2024-01-02</p>
      </div>
    </div>
    <div class="flex flex-col gap-5">
      <img src="../assets/images/Addiction.png" class="h-[250px]" />
      <div class="flex flex-col gap-1">
        <div class="flex items-center justify-start gap-2">
          <img class="rounded-full w-8 h-8" src="../assets/images/meeting.png">
          <p class="font-semibold text-2xl">inetum</p>
        </div>
        <p>Post: backend java developer</p>
        <p class="font-semibold text-sm">date: 2024-01-02</p>
      </div>
    </div>
    <div class="flex flex-col gap-5">
      <img src="../assets/images/Development.png" class="h-[250px]" />
      <div class="flex flex-col gap-1">
        <div class="flex items-center justify-start gap-2">
          <img class="rounded-full w-8 h-8" src="../assets/images/meeting.png">
          <p class="font-semibold text-2xl">inetum</p>
        </div>
        <p>Post: backend java developer</p>
        <p class="font-semibold text-sm">date: 2024-01-02</p>
      </div>
    </div>
    <div class="flex flex-col gap-5">
      <img src="../assets/images/Podcasts.png" class="h-[250px]" />
      <div class="flex flex-col gap-1">
        <div class="flex items-center justify-start gap-2">
          <img class="rounded-full w-8 h-8" src="../assets/images/meeting.png">
          <p class="font-semibold text-2xl">inetum</p>
        </div>
        <p>Post: backend java developer</p>
        <p class="font-semibold text-sm">date: 2024-01-02</p>
      </div>
    </div>
  </div>
  <div class="p-5"></div>
</section>
